/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-family: Viga;
    font-size: 32px;
    font-weight: bold;
}

.navbar-nav {
    margin-left: auto;
}

/* Utility */
.tombol {
    text-transform: uppercase;
    border-radius: 60px;
    background-color: red;
}

/* Jumbotron */
.jumbotron {
    background-image: url(img/jumbotron-bg.jpg);
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
    padding-top: 30px;
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position:absolute;
    bottom: 0;
}

    .jumbotron, .display-4 {
        color: white;
        padding-top: 120px;
        font-weight: 200;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
        font-size: 40px;
        margin-bottom: 30px;
    }

    .jumbotron, .display-4 span {
        font-weight: 500;
    }

/* info panel */

.info-panel {
box-shadow: 0 3px 20px rgba(0, 0, 0, 0.6);
border-radius: 12px;
margin-top: -100px;
background-color: white;
z-index: 1;
padding: 30px;
}

.info-panel img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.info-panel h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}


.info-panel p {
    font-size: 14px;
    color: #5f4747;
    margin-top: -5px;
    font-weight: 200 ;
}

/* workspace */

.workingspace {
    margin-top: 120px;
    text-align: center;
    
}

.workingspace h3 {
    font-size: 52px;
    text-transform: uppercase;
    font-weight: 200;
    margin-top: 30px;
}

.workingspace span {
    font-weight: 500;
}

.workingspace p {
    color: #5f4747;
    font-weight: 200;
    margin: 25px 0;
}

/* Testimonial */
.testimonial {
    margin-top: 100px;
}

.testimonial h5 {
    text-align: center;
    font-weight: 200;
    font-style: italic;
    font-size: 24px;
}

/* footer */

.footer {
    margin-top: 50px;
}

.footer p {
    text-align: center;
    font-size: 18px;
    color: rgb(255, 80, 80);
}


/* DESKTOP VERSION */
@media (min-width: 992px) {

    .navbar-brand, .nav-link {
            color: white !important;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #dc0824;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
  
    .jumbotron {
        margin-top: -75px;
        height: 640px;
        }
    
    .jumbotron, .display-4 {
        font-size: 62px;
    }

    .workingspace {
        text-align: left;
    }

    .testimonial h5 {
        font-size: 32px;
    }

    .testimonial figure img {
        width: 60px;
        margin: 20px 10px 10px;
        opacity: 0.6;
    }

    .testimonial figure img.utama {
        width: 90px;
        opacity: 1;
        margin-top: 5px;
    }

    .testimonial figure h5 {
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        color: blue;
    }

    .testimonial figure p {
        font-size: 12px;
        color: #5f4747;
        margin-top: 5px;
    }

    .testimonial figcaption {
        text-align: center;
    }
}
